h1{
  background-color: lightblue;
  border:solid;
  border-radius: 10px;
  text-align: center;
}
img{
  border-radius: 100px;
}

body{
  background: white;
}

#img1{
  color: black;
  font-size: 35px;
}

#chatgpt{
  border-radius: 25px;
}

#button{

  width: 400;
  height: 50;
}

#criador{
  font-size:25px;
}